<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/05/28/23/12/auto-788747_960_720.jpg" alt="Car">
    <div class="card-body">
      <h5 class="card-title">Car</h5>
      <p class="card-text">This is an old-timer.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">km</li>
      <li class="list-group-item">Diesel</li>
      <li class="list-group-item">limo</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Color</a>
      <a href="#" class="card-link">In good condition</a>
    </div>
  </div>
